body {
    text-align: center;
    font-family: sans-serif;
}

.grid {
    max-width: 610px;
    display: inline-block;
}

.grid > a {
    width: 60px;
    display: inline-block;
}

.grid > a > img {
    max-width: 60px;
}
