body {
    text-align: center;
    font-family: sans-serif;
}

.grid {
    max-width: 610px;
    display: inline-block;
}

.grid > a {
    width: 60px;
    display: inline-block;
}

.grid > a > img {
    max-width: 60px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0b0b0b;
        color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: #000000;
    }
}